/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 0em;
  padding-top: 0em;
  margin: 0;

}

/* header */
header {
  padding: 0em;
  margin: 0em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  top: 0;
}


/* nav */
nav {
  order: -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav button {
  font-size: 1.1em;
  color: white;
  cursor: pointer;
  width: 5em;
  height: 2.5em;
  background-color: black;
  border: none;
  border-radius: 0.25em;
  transition: all 650ms ease;
  box-shadow: 0.5em 0.6em 0.7em gray;
  position: relative;
  z-index: 100;
}

nav>button:hover {
  cursor: pointer;
  transform: translateY(-0.5em);
}

nav>button:focus-visible {
  background-color: red;
}

button:active {
  transform: translatey(0);
  background-color: red;
}

nav ul {
  list-style-type: none;
  background-color: white;
  margin-top: 2em;
  padding: 4em 0 0;
  list-style: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translatex(-100%);
  transition: .5s;
  z-index: 50;
}

nav.toonMenu ul {
  transform: translatex(0);
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: .25em;
  padding: 1em;
}

a:active {
  font-weight: bold;
}

nav>ul>li:nth-of-type(2) {
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: .25em;
}

nav>ul>li:nth-of-type(3) {
  font-weight: bold;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  gap: .25em;
  padding: 1em;
}

/* intro */
.introduction>h1 {
  font-size: 2em;

}

.introduction>a {
  font-size: 2.25em;
  text-decoration: none;
  color: black;
}

.introduction>a:first-of-type {
  color: black;
  font-size: 2.25em;
  background-color: #fffaa3;
  padding-top: 0.3em;
  padding-bottom: 0.3em;

}

.introduction>a:nth-of-type(2) {
  color: pink;
  text-shadow: 6px 3px 5px;
}

.introduction>a:nth-of-type(3) {
  color: pink;
  text-shadow: 6px 3px 5px;
}

.introduction>a:nth-of-type(4) {
  color: pink;
  text-shadow: 6px 3px 5px;
}

.introduction>a:last-of-type {
  color: pink;
  text-shadow: 6px 3px 5px;
}

/* beschrijvingstekst */
p {
  font-size: 1.2em;
  color: #1B1B1B;
  margin-top: 0.6em;
}

/* recentwork */
.work>h2 {
  font-size: 1em;
  color: grey;
}

.work>a>img {
  max-width: 100%;
}

footer {
  padding-bottom: 2em;
}

footer h2 {
  font-size: 1.25em;
  line-height: 2.25em;
  color: #1a1b1d;
  text-align: center;
}

footer p {
  text-align: center;
}

footer img {
  max-width: 100%;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.50em;
}

/* ing styling */
.ing-top>img {
  max-width: 100%;
}

.ing-top>a {
  color: blue;
  text-decoration: none;
}

.ing-top>ul>li {
  color: #1B1B1B;
}

.dsn-ch>p {
  font-style: italic;
  font-weight: bold;
}

/* ommetje styling */
.ommetje-top>img {
  max-width: 100%;
}

.ommetje-top>ul>li {
  color: #1B1B1B;
}

.ommetje-top iframe {
  height: 40em;
  max-width: 100%;
}

/* mohi styling */

.mohi-top>img {
  max-width: 100%;
}

.mohi-top>iframe:first-of-type {
  height: 45em;
  max-width: 100%;
}

.mohi-top>iframe:last-of-type {
  padding-top: 2em;
  max-height: 100%;
  max-width: 100%;
}

.mohi-top>ul>li {
  color: #1B1B1B;
}

/* fairhockey styling */

.fairhockey-top>img {
  max-width: 100%;
}

.fairhockey-top>ul>li {
  color: grey;
}

video {
  max-width: 100%;
}

/* project web */

.bold-designch {
  font-weight: bold;
}

.web-top img {
  max-width: 100%;
}

.web-top>ul>li {
  color: #1B1B1B;
}

.web-top>iframe {
  height: 58em;
  max-width: 100%;
}

/* toegankelijkheid tings */
nav>a:hover {
  color: pink;
  transition: all 450ms ease;
  text-decoration: underline;
}

nav>a:focus {
  background: #fffaa3;
}

a:active {
  color: pink;
}


a:focus img {
  border: 0.1em solid red;
}

/* responsive tings */
@media (min-width:64em) {
  body {
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 0em;
    padding-top: 0em;
  }

  /* responsive header */


  @media (min-width:64em) {
    footer {
      padding-bottom: 3em;
    }

    figcaption {
      font-size: 0.8em;
      color: #1B1B1B;
      padding-bottom: 0.7em;

    }

    /* about me page */
    .columns-wrap {
      display: flex;
      gap: 0.6em;
    }

    .title {
      color:#8DC3F5 ;
    }

    .columns-wrap> .column > h3 {
      color: #8DC3F5;
      font-weight: bold;
    }
    
    .columns-wrap> .column1 > h3 {
      color: #8DC3F5;
      font-weight: bold;
    }
    
    .columns-wrap> .column2 > h3 {
      color: #8DC3F5;
      font-weight: bold;
    }
    
    .columns-wrap> .column3 > h3 {
      color: #8DC3F5;
      font-weight: bold;
    }